<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[微笑]</key>
	<string>Expression_001@2x.png</string>
	<key>[憋嘴]</key>
	<string>Expression_002@2x.png</string>
	<key>[色]</key>
	<string>Expression_003@2x.png</string>
	<key>[发呆]</key>
	<string>Expression_004@2x.png</string>
	<key>[得意]</key>
	<string>Expression_005@2x.png</string>
	<key>[流泪]</key>
	<string>Expression_006@2x.png</string>
	<key>[害羞]</key>
	<string>Expression_007@2x.png</string>
	<key>[闭嘴]</key>
	<string>Expression_008@2x.png</string>
	<key>[睡]</key>
	<string>Expression_009@2x.png</string>
	<key>[大哭]</key>
	<string>Expression_010@2x.png</string>
	<key>[尴尬]</key>
	<string>Expression_011@2x.png</string>
	<key>[发怒]</key>
	<string>Expression_012@2x.png</string>
	<key>[调皮]</key>
	<string>Expression_013@2x.png</string>
	<key>[呲牙]</key>
	<string>Expression_014@2x.png</string>
	<key>[惊讶]</key>
	<string>Expression_015@2x.png</string>
	<key>[难过]</key>
	<string>Expression_016@2x.png</string>
	<key>[酷]</key>
	<string>Expression_017@2x.png</string>
	<key>[冷汗]</key>
	<string>Expression_018@2x.png</string>
	<key>[抓狂]</key>
	<string>Expression_019@2x.png</string>
	<key>[吐]</key>
	<string>Expression_020@2x.png</string>
	<key>[偷笑]</key>
	<string>Expression_021@2x.png</string>
	<key>[愉快]</key>
	<string>Expression_022@2x.png</string>
	<key>[白眼]</key>
	<string>Expression_023@2x.png</string>
	<key>[傲慢]</key>
	<string>Expression_024@2x.png</string>
	<key>[饥饿]</key>
	<string>Expression_025@2x.png</string>
	<key>[困]</key>
	<string>Expression_026@2x.png</string>
	<key>[惊恐]</key>
	<string>Expression_027@2x.png</string>
	<key>[流汗]</key>
	<string>Expression_028@2x.png</string>
	<key>[憨笑]</key>
	<string>Expression_029@2x.png</string>
	<key>[悠闲]</key>
	<string>Expression_030@2x.png</string>
	<key>[奋斗]</key>
	<string>Expression_031@2x.png</string>
	<key>[咒骂]</key>
	<string>Expression_032@2x.png</string>
	<key>[疑问]</key>
	<string>Expression_033@2x.png</string>
	<key>[嘘]</key>
	<string>Expression_034@2x.png</string>
	<key>[晕]</key>
	<string>Expression_035@2x.png</string>
	<key>[疯了]</key>
	<string>Expression_036@2x.png</string>
	<key>[衰]</key>
	<string>Expression_037@2x.png</string>
	<key>[骷髅]</key>
	<string>Expression_038@2x.png</string>
	<key>[敲打]</key>
	<string>Expression_039@2x.png</string>
	<key>[再见]</key>
	<string>Expression_040@2x.png</string>
	<key>[擦汗]</key>
	<string>Expression_041@2x.png</string>
	<key>[抠鼻]</key>
	<string>Expression_042@2x.png</string>
	<key>[鼓掌]</key>
	<string>Expression_043@2x.png</string>
	<key>[糗大了]</key>
	<string>Expression_044@2x.png</string>
	<key>[坏笑]</key>
	<string>Expression_045@2x.png</string>
	<key>[左哼哼]</key>
	<string>Expression_046@2x.png</string>
	<key>[右哼哼]</key>
	<string>Expression_047@2x.png</string>
	<key>[哈欠]</key>
	<string>Expression_048@2x.png</string>
	<key>[鄙视]</key>
	<string>Expression_049@2x.png</string>
	<key>[委屈]</key>
	<string>Expression_050@2x.png</string>
	<key>[快哭了]</key>
	<string>Expression_051@2x.png</string>
	<key>[阴险]</key>
	<string>Expression_052@2x.png</string>
	<key>[亲亲]</key>
	<string>Expression_053@2x.png</string>
	<key>[吓]</key>
	<string>Expression_054@2x.png</string>
	<key>[可怜]</key>
	<string>Expression_055@2x.png</string>
	<key>[菜刀]</key>
	<string>Expression_056@2x.png</string>
	<key>[西瓜]</key>
	<string>Expression_057@2x.png</string>
	<key>[啤酒]</key>
	<string>Expression_058@2x.png</string>
	<key>[篮球]</key>
	<string>Expression_059@2x.png</string>
	<key>[乒乓]</key>
	<string>Expression_060@2x.png</string>
</dict>
</plist>
